<!DOCTYPE html>
<html lang="pl">
<html xmlns:th="http://www.thymeleaf.org">
<head>

   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Aplikacja Sanepid</title>
   <meta charset="utf-8">
  
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
   
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   <!-- IKONY FONTAWSOME -->
   <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
   
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
   
   
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    -->

    <!-- IKONY FONTAWSOME -->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"> -->

   <link rel="stylesheet" type="text/css" th:href="@{/style.css}"}>
</head>
<body>

<!-- Nawigacja -->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="index.html">
            <i class="fas fa-home"></i>
            Aplikacja PSSE Gliwice
      </a>

		<button class="navbar-toggler" type="toggle" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">

				<li class="nav-item">
               <a class="nav-link" th:href="@{/}">Strona&nbsp;Domowa  <i class="fas fa-home"></i>  </a>
            </li>
				<li class="nav-item">
               <a class="nav-link" th:href="@{/patient/new}">Dodaj pacjenta <i class="far fa-sticky-note"></i></a>
            </li>
				<li class="nav-item">
               <a class="nav-link" href="#">Raporty&nbsp;Word <i class="far fa-file-word"></i></a>
            </li>
				<li class="nav-item">
               <a class="nav-link" th:href="@{/export/excel}">Generuj Raport Excel  <i class="far fa-file-excel"></i></a>
            </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/register}">Użytkownik  <i class="far fa-list-item"></i></a>
            </li>
				<li class="nav-item">
               <a id="logout" class="nav-link" th:href="@{/logout}">Wyloguj&nbsp;się  <i class="fas fa-sign-out-alt"></i>  </a>
            </li>

			</ul>
		</div>

	</div>
</nav>


<div class="container-fluid padding">
   <div class="row welcome text-center">
      <div class="col-12">
         <h3 class="display-4"> Formularz zgłoszenia Covid-19 </h3>
      </div>         
   </div>
</div>


<div class="container-fluid padding">
	<hr> <!-- Do usunięcia!  -->
	
</div>



<div class="container-fluid padding">

   <!-- POWITANIE -->
   <div class="row welcome text-center">

		<div class="col-12">
			<h1 class="display-6"> Dane pacjenta: </h1>
		</div>
   </div>

   
   <div class="row welcome justify-content-center">
      <div class="col-sm-12 col-md-10">
         <p class="lead">
         </p>
      </div>
   </div>
   
   

   <!-- FORMULARZ -->
   <form th:action="@{/patient/save}"  th:object="${newPatient}" method="POST" id="form_primary">
      <div class="row justify-content-center">
         
         <div class="col-xs-6 col-md-4 col-lg-1.5">
            <!-- IMIE -->
            <div class="form-group">
               <label for="">Imię</label>
               <input type="text" class="form-control" placeholder="Imię" th:field="${newPatient.name}">
                <span th:if="${#fields.hasErrors('name')}"
                      th:errors="${newPatient.name}"></span>
            </div>
         </div>       
         
         <!-- NAZWISKO -->
         <div class="col-xs-6 col-md-4 col-lg-1.5">
            <div class="form-group">
               <label for="">Nazwisko</label>
               <input type="text" class="form-control" placeholder="Nazwisko"  th:field="${newPatient.surname}">
                <span th:if="${#fields.hasErrors('surname')}"
                      th:errors="${newPatient.surname}"></span>
            </div>
         </div>
         
         <!-- PLEC -->
         <div class="col-xs-6 col-md-4 col-lg-2">
            <div class="form-group">
               <label for="">Płeć</label>
               <select th:field="${newPatient.gender}"  class="form-control">
                   <option th:value="ph">Proszę wybrać...</option>
                   <option th:value="K">Kobieta</option>
                   <option th:value="M">Mężczyzna</option>
               </select>
                <span th:if="${#fields.hasErrors('gender')}"
                      th:errors="${newPatient.gender}"></span>
            </div>
         </div>

         <!-- DATA URODZENIA -->
         <div class="col-xs-6 col-md-1.5">                   
            <div class="form-group">
               <label for="">Data Urodzenia</label>
               <input type="date" id="birthDate" class="form-control" placeholder="Data" th:field="${newPatient.birthDate}" name="date">
                <span th:if="${#fields.hasErrors('birthDate')}"
                      th:errors="${newPatient.birthDate}"></span>
            </div>
         </div>

<div class="row justify-content-center">

		 <!-- Email -->
         <div class="col-xs-6 col-md-4 col-lg-1.5">
            <div class="form-group">
               <label for="">Email</label>
               <input type="text" class="form-control" placeholder="Email"  th:field="${newPatient.email}">
                <span th:if="${#fields.hasErrors('email')}"
                      th:errors="${newPatient.email}"></span>
            </div>
         </div>

	<!-- Telefon -->
         <div class="col-xs-6 col-md-4 col-lg-1.5">
            <div class="form-group">
               <label for="">Numer telefonu</label>
               <input type="text" class="form-control" placeholder="Numer"  th:field="${newPatient.phoneNumber}">
                <span th:if="${#fields.hasErrors('phoneNumber')}"
                      th:errors="${newPatient.phoneNumber}"></span>
            </div>
         </div>

 <div class="row justify-content-center">

		<!-- DATA TESTU DODATNIEGO -->
         <div class="col-xs-6 col-md-3">
            <div class="form-group">
               <label for="">Data uzyskania wyniku dodatniego</label>
               <input type="date" id="datePositive" class="form-control" placeholder="Data" th:field="${newPatient.datePositive}" name="date">
                <span th:if="${#fields.hasErrors('datePositive')}"
                      th:errors="${newPatient.datePositive}"></span>
            </div>
         </div>

		<!-- DATA POZYSKANIA INFORMACJI -->
         <div class="col-xs-6 col-md-3">
            <div class="form-group">
               <label for="">Data pozyskania informacji przez PSSE</label>
               <input type="date" id="dateInformation" class="form-control" placeholder="Data" th:field="${newPatient.dateInformation}" name="date">
                <span th:if="${#fields.hasErrors('dateInformation')}"
                      th:errors="${newPatient.dateInformation}"></span>
            </div>
         </div>

	<!-- Źródło  -->
         <div class="col-xs-6 col-md-4 col-lg-1.5">
            <div class="form-group">
               <label for="">Źródło zakażenia</label>
               <input type="text" class="form-control" placeholder="Źródło"  th:field="${newPatient.infectionSource}">
                <span th:if="${#fields.hasErrors('infectionSource')}"
                      th:errors="${newPatient.infectionSource}"></span>
            </div>
         </div>


         <div class="row justify-content-center">

             <!-- Miejscowość zamieszkania  -->
             <div class="col-xs-6 col-md-4 col-lg-3.5">
                 <div class="form-group">
                     <label for="">Miejscowość zamieszkania chorego</label>
                     <input type="text" class="form-control" placeholder="Miejscowość"  th:field="${newPatient.residenceCity}">
                     <span th:if="${#fields.hasErrors('residenceCity')}"
                           th:errors="${newPatient.residenceCity}"></span>
                 </div>
             </div>

             <!-- Wojewodzctwo zamieszkania  -->
             <div class="col-xs-6 col-md-4 col-lg-3.5">
                 <div class="form-group">
                     <label for="">Województwo</label>
                     <select th:field="${newPatient.residenceDistrict}" id="" class="form-control">
                         <option th:value="ph">Proszę wybrać...</option>
                         <option th:value="Dolnośląskie">Dolnośląskie</option>
                         <option th:value="Kujawsko-Pomorskie">Kujawsko-Pomorskie</option>
                         <option th:value="Lubelskie">Lubelskie</option>
                         <option th:value="Lubuskie">Lubuskie</option>
                         <option th:value="Łódzkie">Łódzkie</option>
                         <option th:value="Małopolskie">Małopolskie</option>
                         <option th:value="Mazowieckie">Mazowieckie</option>
                         <option th:value="Opolskie">Opolskie</option>
                         <option th:value="Podkarpackie">Podkarpackie</option>
                         <option th:value="Podlaskie">Podlaskie</option>
                         <option th:value="Pomorskie">Pomorskie</option>
                         <option th:value="Śląskie">Śląskie</option>
                         <option th:value="Świętokrzyskie">Świętokrzyskie</option>
                         <option th:value="Warmińsko-Mazurski">Warmińsko-Mazurskie</option>
                         <option th:value="Wielkopolskie">Wielkopolskie</option>
                         <option th:value="Zachodniopomorskie">Zachodniopomorskie</option>
                     </select>
                     <span th:if="${#fields.hasErrors('residenceDistrict')}"
                           th:errors="${newPatient.residenceDistrict}"></span>
                 </div>
             </div>

             <div class="row justify-content-center">
                 <!-- Miejscowość pobytu  -->
                 <div class="col-xs-6 col-md-4 col-lg-3.5">
                     <div class="form-group">
                         <label for="">Miejscowość pobytu chorego</label>
                         <input type="text" class="form-control" placeholder="Miejscowość"  th:field="${newPatient.stayCity}">
                         <span th:if="${#fields.hasErrors('stayCity')}"
                               th:errors="${newPatient.stayCity}"></span>
                     </div>
                 </div>

                 <!-- Wojewodzctwo zamieszkania  -->
                 <div class="col-xs-6 col-md-4 col-lg-3.5">
                     <div class="form-group">
                         <label for="">Województwo</label>
                         <select th:field="${newPatient.stayDistrict}" id="" class="form-control">
                             <option th:value="ph">Proszę wybrać...</option>
                             <option th:value="Dolnośląskie">Dolnośląskie</option>
                             <option th:value="Kujawsko-Pomorskie">Kujawsko-Pomorskie</option>
                             <option th:value="Lubelskie">Lubelskie</option>
                             <option th:value="Lubuskie">Lubuskie</option>
                             <option th:value="Łódzkie">Łódzkie</option>
                             <option th:value="Małopolskie">Małopolskie</option>
                             <option th:value="Mazowieckie">Mazowieckie</option>
                             <option th:value="Opolskie">Opolskie</option>
                             <option th:value="Podkarpackie">Podkarpackie</option>
                             <option th:value="Podlaskie">Podlaskie</option>
                             <option th:value="Pomorskie">Pomorskie</option>
                             <option th:value="Śląskie">Śląskie</option>
                             <option th:value="Świętokrzyskie">Świętokrzyskie</option>
                             <option th:value="war-maz">Warmińsko-Mazurskie</option>
                             <option th:value="Warmińsko-Mazurskie">Wielkopolskie</option>
                             <option th:value="Zachodniopomorskie">Zachodniopomorskie</option>
                         </select>
                         <span th:if="${#fields.hasErrors('stayDistrict')}"
                               th:errors="${newPatient.stayDistrict}"></span>
                     </div>
                 </div>
                 <div class="row justify-content-center">
                     <!-- Laboratorium  -->
                     <div class="col-xs-6 col-md-4 col-lg-3.5">
                         <div class="form-group">
                             <label for="">Laboratorium badające</label>
                             <input type="text" class="form-control" placeholder="Nazwa"  th:field="${newPatient.labName}">
                             <span th:if="${#fields.hasErrors('labName')}"
                                   th:errors="${newPatient.labName}"></span>
                         </div>
                     </div>


                     <!-- Hospitalizacja -->
                     <div class="col-xs-6 col-md-4 col-lg-3">
                         <div class="form-group">
                             <label for="">Hospitalizacja</label>
                             <select th:field="${newPatient.hospitalized}" id="" class="form-control">
                                 <option th:value="false">Nie</option>
                                 <option th:value="true">Tak</option>
                             </select>
                         </div>
                     </div>


                     <!-- Szpital  -->
                     <div class="col-xs-6 col-md-4 col-lg-3.5">
                         <div class="form-group">
                             <label for="">Nazwa szpitala</label>
                             <input type="text" class="form-control" placeholder="Nazwa"  th:field="${newPatient.hospitalName}">
                             <span th:if="${#fields.hasErrors('hospitalName')}"
                                   th:errors="${newPatient.hospitalName}"></span>
                         </div>
                     </div>

                     <div class="row justify-content-center">


                         <!-- Kwarantanna -->
                         <div class="col-xs-6 col-md-4 col-lg-4">
                             <div class="form-group">
                                 <label for="">Kwarantanna</label>
                                 <select th:field="${newPatient.inQuarantine}" id="" class="form-control">
                                     <option th:value="false">Nie</option>
                                     <option th:value="true">Tak</option>
                                 </select>
                             </div>
                         </div>

                         <!-- Nadzór -->
                         <div class="col-xs-6 col-md-4 col-lg-4">
                             <div class="form-group">
                                 <label for="">Nadzór</label>
                                 <select th:field="${newPatient.supervision}" id="" class="form-control">
                                     <option th:value="false">Nie</option>
                                     <option th:value="true">Tak</option>
                                 </select>
                             </div>
                         </div>


                         <!-- PRZESLANIE FORMULARZA -->
                         <div class="col-xs-6 col-md-4 col-lg-1">
                             <div class="form-group" style="padding-top: 1.99rem;">
                                 <input type="submit"  class="btn btn-primary">
                             </div>
                         </div>

                     </div>
       </form>



    </div>


        <script>
            function loadFunction() {
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1; //January is 0!
                var yyyy = today.getFullYear();

                if(dd<10){
                    dd='0'+dd;
                }
                if(mm<10){
                    mm='0'+mm;
                }

                today = yyyy+'-'+mm+'-'+dd;
                document.getElementById("birthDate").value=today+"";
                document.getElementById("datePositive").value=today+"";
                document.getElementById("dateInformation").value=today+"";
            }
        </script>

    </body>
</html>
