<!DOCTYPE html>
<html lang="pl">
<html xmlns:th="http://www.thymeleaf.org">
<head>

   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Aplikacja Sanepid</title>
   <meta charset="utf-8">
  
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
   
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   <!-- IKONY FONTAWSOME -->
   <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
   
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
   
   
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    -->

    <!-- IKONY FONTAWSOME -->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"> -->

   <link rel="stylesheet" type="text/css" th:href="@{/style.css}"}>
</head>
<body>

<!-- Nawigacja -->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="index.html">
         <!-- <img src="" alt="Logo"> potem się doda logo jakies-->
         Aplikacja PSSE Gliwice
         <i class="fas fa-home"></i>
      </a>

		<button class="navbar-toggler" type="toggle" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">

				<li class="nav-item">
               <a class="nav-link"  href="file:///C:\Users\Julia\Desktop\Strona\homePage.html">  Strona&nbsp;Domowa  <i class="fas fa-home"></i>  </a>
            </li>
				<li class="nav-item">
               <a class="nav-link" href="file:///C:\Users\Julia\Desktop\Strona\newPatientForm_2.html">Wprowadzenie&nbsp;Zgłoszenia <i class="far fa-sticky-note"></i></a>
            </li>
				<li class="nav-item">
               <a class="nav-link" th:href="@{/word}">Raporty&nbsp;Word <i class="far fa-file-word"></i></a>
            </li>
				<li class="nav-item">
               <a class="nav-link"  href='file:///C:\Users\Julia\Desktop\Strona\Co_po_liceum.xls' download>Raport&nbsp;Excel  <i class="far fa-file-excel"></i></a>
            </li>
				<li class="nav-item">
               <a id="logout" class="nav-link" href="file:///C:\Users\Julia\Desktop\Strona\loginForm.html">  Wyloguj się   <i class="fas fa-sign-out-alt"></i>  </a>
            </li>

			</ul>
		</div>

	</div>
</nav>


<div class="container-fluid padding">
   <div class="row welcome text-center">
      <div class="col-12">
         <h1 class="display-1"> Formularz zgłoszenia Covid-19 </h1> 
      </div>         
   </div>
</div>


<div class="container-fluid padding">
	<hr> <!-- Do usunięcia!  -->
	
</div>



<div class="container-fluid padding">

   <!-- POWITANIE -->
   <div class="row welcome text-center">

		<div class="col-12">
			<h1 class="display-4"> Wypełnij Poniższy Formularz</h1>
		</div>
   </div>

   
   <div class="row welcome justify-content-center">
      <div class="col-sm-12 col-md-10">
         <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos enim cupiditate officiis a iure, nihil magnam, aut odit ullam fuga nostrum sit blanditiis exercitationem neque ducimus modi animi dignissimos accusamus.
         </p>
      </div>
   </div>
   
   

   <!-- FORMULARZ -->
   <form th:action="@{/patient/save}"  th:object="${newPatient}" method="POST" id="form_primary">
      <div class="row justify-content-center">
         
         <div class="col-xs-6 col-md-4 col-lg-1.5">
            <!-- IMIE -->
            <div class="form-group">
               <label for="">Imię</label>
               <input type="text" class="form-control" placeholder="Imię" th:field="${newPatient.name}">
                <span th:if="${#fields.hasErrors('name')}"
                      th:errors="${newPatient.name}"></span>
            </div>
         </div>       
         
         <!-- NAZWISKO -->
         <div class="col-xs-6 col-md-4 col-lg-1.5">
            <div class="form-group">
               <label for="">Nazwisko</label>
               <input type="text" class="form-control" placeholder="Nazwisko"  th:field="${newPatient.surname}">
                <span th:if="${#fields.hasErrors('surname')}"
                      th:errors="${newPatient.surname}"></span>
            </div>
         </div>
         
         <!-- PLEC -->
         <div class="col-xs-6 col-md-4 col-lg-2">
            <div class="form-group">
               <label for="">Płeć</label>
               <select th:field="${newPatient.gender}" id="" class="form-control">
                  <option th:value="woman">Kobieta</option>
                  <option th:value="men">Mężczyzna</option>
				  <option th:value="non"> </option>
               </select>
            </div>
         </div>

         <!-- DATA URODZENIA -->
         <div class="col-xs-6 col-md-1.5">                   
            <div class="form-group">
               <label for="">Data Urodzenia</label>
               <input type="date" class="form-control" placeholder="Data" th:field="${newPatient.birthDate}" name="date" value="2000-10-23" >
            </div>
         </div>

		<div class="row justify-content-center">

		 <!-- Email -->
         <div class="col-xs-6 col-md-4 col-lg-1.5">
            <div class="form-group">
               <label for="">Email</label>
               <input type="text" class="form-control" placeholder="Email"  th:field="${newPatient.email}">
                <span th:if="${#fields.hasErrors('email')}"
                      th:errors="${newPatient.email}"></span>
            </div>
         </div>

	<!-- Telefon -->
         <div class="col-xs-6 col-md-4 col-lg-1.5">
            <div class="form-group">
               <label for="">Numer telefonu</label>
               <input type="text" class="form-control" placeholder="Numer"  th:field="${newPatient.phone}">
                <span th:if="${#fields.hasErrors('phone')}"
                      th:errors="${newPatient.phone}"></span>
            </div>
         </div>
		 
 <div class="row justify-content-center">

		<!-- DATA TESTU DODATNIEGO -->
         <div class="col-xs-6 col-md-3">                   
            <div class="form-group">
               <label for="">Data uzyskania wyniku dodatniego</label>
               <input type="date" class="form-control" placeholder="Data" th:field="${newPatient.positiveDate}" name="date" value="2000-10-23" >
            </div>
         </div>
		 
		<!-- DATA POZYSKANIA INFORMACJI -->
         <div class="col-xs-6 col-md-3">                   
            <div class="form-group">
               <label for="">Data pozyskania informacji przez PSSE</label>
               <input type="date" class="form-control" placeholder="Data" th:field="${newPatient.informationDate}" name="date" value="2000-10-23" >
            </div>
         </div>

		<!-- Źródło  -->
         <div class="col-xs-6 col-md-4 col-lg-1.5">
            <div class="form-group">
               <label for="">Źródło zakażenia</label>
               <input type="text" class="form-control" placeholder="Źródło"  th:field="${newPatient.source}">
                <span th:if="${#fields.hasErrors('source')}"
                      th:errors="${newPatient.source}"></span>
            </div>
         </div>


 <div class="row justify-content-center">

		<!-- Miejscowość zamieszkania  -->
         <div class="col-xs-6 col-md-4 col-lg-3.5">
            <div class="form-group">
               <label for="">Miejscowość zamieszkania chorego</label>
               <input type="text" class="form-control" placeholder="Miejscowość"  th:field="${newPatient.livingPlace}">
                <span th:if="${#fields.hasErrors('livingPlace')}"
                      th:errors="${newPatient.livingPlace}"></span>
            </div>
         </div>
		 
		<!-- Wojewodzctwo zamieszkania  -->		
		<div class="col-xs-6 col-md-4 col-lg-3.5">
            <div class="form-group">
               <label for="">Wojewódzctwo</label>
               <select th:field="${newPatient.gender}" id="" class="form-control">
                  <option th:value="dolnosl">Dolnośląskie</option>
                  <option th:value="kuj-pom">Kujawsko-Pomorskie</option>
				  <option th:value="lube">Lubelskie</option>
				  <option th:value="lubu">Lubuskie</option>
				  <option th:value="lodz">Łódzkie</option>
				  <option th:value="mal">Małopolskie</option>
				  <option th:value="maz">Mazowieckie</option>
				  <option th:value="opol">Opolskie</option>
				  <option th:value="podkarp">Podkarpackie</option>
				  <option th:value="podlas">Podlaskie</option>
				  <option th:value="pom">Pomorskie</option>
				  <option th:value="sl">Śląskie</option>
				  <option th:value="sw">Świętokrzyskie</option>
				  <option th:value="war-maz">Warmińsko-Mazurskie</option>
				  <option th:value="wielk">Wielkopolskie</option>
				  <option th:value="zach">Zachodniopomorskie</option>
               </select>
            </div>
         </div>

 <div class="row justify-content-center">
		<!-- Miejscowość pobytu  -->
         <div class="col-xs-6 col-md-4 col-lg-3.5">
            <div class="form-group">
               <label for="">Miejscowość pobytu chorego</label>
               <input type="text" class="form-control" placeholder="Miejscowość"  th:field="${newPatient.stayPlace}">
                <span th:if="${#fields.hasErrors('stayPlace')}"
                      th:errors="${newPatient.stayPlace}"></span>
            </div>
         </div>
		 
		 <!-- Wojewodzctwo zamieszkania  -->		
		<div class="col-xs-6 col-md-4 col-lg-3.5">
            <div class="form-group">
               <label for="">Wojewódzctwo</label>
               <select th:field="${newPatient.gender}" id="" class="form-control">
                  <option th:value="dolnosl">Dolnośląskie</option>
                  <option th:value="kuj-pom">Kujawsko-Pomorskie</option>
				  <option th:value="lube">Lubelskie</option>
				  <option th:value="lubu">Lubuskie</option>
				  <option th:value="lodz">Łódzkie</option>
				  <option th:value="mal">Małopolskie</option>
				  <option th:value="maz">Mazowieckie</option>
				  <option th:value="opol">Opolskie</option>
				  <option th:value="podkarp">Podkarpackie</option>
				  <option th:value="podlas">Podlaskie</option>
				  <option th:value="pom">Pomorskie</option>
				  <option th:value="sl">Śląskie</option>
				  <option th:value="sw">Świętokrzyskie</option>
				  <option th:value="war-maz">Warmińsko-Mazurskie</option>
				  <option th:value="wielk">Wielkopolskie</option>
				  <option th:value="zach">Zachodniopomorskie</option>
               </select>
            </div>
         </div>
 <div class="row justify-content-center">
		<!-- Laboratorium  -->
         <div class="col-xs-6 col-md-4 col-lg-3.5">
            <div class="form-group">
               <label for="">Laboratorium badające</label>
               <input type="text" class="form-control" placeholder="Nazwa"  th:field="${newPatient.stayPlace}">
                <span th:if="${#fields.hasErrors('stayPlace')}"
                      th:errors="${newPatient.stayPlace}"></span>
            </div>
         </div>
		 
		 
		<!-- Hospitalizacja -->
         <div class="col-xs-6 col-md-4 col-lg-3">
            <div class="form-group">
               <label for="">Hospitalizacja</label>
               <select th:field="${newPatient.hospitalisation)" id="" class="form-control">
                  <option th:value="yes">Tak</option>
                  <option th:value="no">Nie</option>
               </select>
            </div>
         </div>
		 
		 
		<!-- Szpital  -->
         <div class="col-xs-6 col-md-4 col-lg-3.5">
            <div class="form-group">
               <label for="">Nazwa szpitala</label>
               <input type="text" class="form-control" placeholder="Nazwa"  th:field="${newPatient.stayPlace}">
                <span th:if="${#fields.hasErrors('stayPlace')}"
                      th:errors="${newPatient.stayPlace}"></span>
            </div>
         </div>
		 
 <div class="row justify-content-center">


		<!-- Kwarantanna -->
         <div class="col-xs-6 col-md-4 col-lg-4">
            <div class="form-group">
               <label for="">Kwarantanna</label>
               <select th:field="${newPatient.quaranteen}" id="" class="form-control">
                  <option th:value="yes">Tak</option>
                  <option th:value="no">Nie</option>
               </select>
            </div>
         </div>

		<!-- Nadzór -->
         <div class="col-xs-6 col-md-4 col-lg-4">
            <div class="form-group">
               <label for="">Nadzór</label>
               <select th:field="${newPatient.supervision}" id="" class="form-control">
                  <option th:value="yes">Tak</option>
                  <option th:value="no">Nie</option>
               </select>
            </div>
         </div>


         <!-- PRZESLANIE FORMULARZA -->
         <div class="col-xs-6 col-md-4 col-lg-1">
            <div class="form-group" style="padding-top: 1.99rem;">
               <input type="submit"  class="btn btn-primary">
            </div>
         </div>

      </div>        
   </form>

 
   
</div>

</body>
</html>