<!DOCTYPE html>
<html lang="pl">
<html xmlns:th="http://www.thymeleaf.org">
<head>

   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Aplikacja Sanepid</title>
   <meta charset="utf-8">
  
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
   
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
   
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
   
   
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"}>
</head>
<body>

<!-- Nawigacja -->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="index.html">
            <i class="fas fa-home"></i>
            Aplikacja PSSE Gliwice
      </a>
      
		<button class="navbar-toggler" type="toggle" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">

				<li class="nav-item">
                    <a class="nav-link"  th:href="@{/}">Strona&nbsp;Domowa  <i class="fas fa-home"></i>  </a>
            </li>
				<li class="nav-item">
                    <a class="nav-link" th:href="@{/patient/new}">Dodaj pacjenta  <i class="far fa-sticky-note"></i></a>
            </li>
				<li class="nav-item">
                    <a class="nav-link" href="#">Raporty&nbsp;Word <i class="far fa-file-word"></i></a>
            </li>
				<li class="nav-item">
               <a class="nav-link"  th:href="@{/export/excel}" download>Generuj Raport Excel  <i class="far fa-file-excel"></i></a>
            </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/register}">Użytkownik  <i class="far fa-list-item"></i></a>
                </li>
				<li class="nav-item">
                    <a id="logout" class="nav-link" th:href="@{/logout}">Wyloguj się  <i class="fas fa-sign-out-alt"></i>  </a>
            </li>

			</ul>
		</div>

	</div>
</nav>


<div class="container-fluid padding">
   <div class="row welcome text-center">
      <div class="col-12">
         <h1 class="display-2"> Witamy w aplikacji </h1> 
      </div>         
   </div>
</div>

<hr>

<div class="container-fluid padding">
   <div class="row welcome text-center">

		<div class="col-12">
			<h1 class="display-4"> Opis </h1>
		</div>
      <hr>
      
		<div class="col-12">
			<p class="lead">
			</p>
		</div>
   </div>   
</div>

<div class="container">
   <div class="row">
      <div class="col-sm-12 col-md-4 ">Aby wprowadzić zgłoszenie przejdź do zakładki <a href="#">Wprowadzanie Zgłoszeń  </a></div>
      <div class="col-sm-12 col-md-4 ">Aby wygenerować decyzje przejdź do zakładki <a href="#">Raporty Word  </a></div>
      <div class="col-sm-12 col-md-4 ">Aby wygenerować raport excel kliknij <a th:href="@{/export/excel}">Generuj Raport Excel  </a> </div>
   </div>
</div>

</body>
</html>