<!DOCTYPE html>
<html lang="pl">
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplikacja Sanepid</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- IKONY FONTAWSOME -->
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>



    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"}>
</head>
<body>

<!-- Nawigacja -->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand"  th:href="@{/}">
            <i class="fas fa-home"></i>
            Aplikacja PSSE Gliwice
        </a>

        <button class="navbar-toggler" type="toggle" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link"  th:href="@{/}">Strona&nbsp;Domowa  <i class="fas fa-home"></i>  </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/patient/all}" id="dropdownPatients" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pacjent <i class="far fa-sticky-note"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownPatients">
                        <a class="dropdown-item"  th:href="@{/patient/new}">Dodaj pacjenta</a>
                        <a class="dropdown-item"  th:href="@{/patient/all}">Wyświetl pacjentów</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  th:href="@{/export/excel}" download>Generuj Raport Excel  <i class="fas fa-file-excel"></i></i></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/admin/users}" id="dropdownUsers" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Użytkownik <i class="far fa-list-item"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownUsers">
                        <a class="dropdown-item"  th:href="@{/admin/register}">Dodaj użytkownika</a>
                        <a class="dropdown-item"  th:href="@{/admin/users}">Wyświetl użytkowników</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a id="logout" class="nav-link" th:href="@{/logout}">Wyloguj się  <i class="fas fa-sign-out-alt"></i>  </a>
                </li>

            </ul>
        </div>

    </div>
</nav>


<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <br>
            <h3 class="display-4">Zmiana hasła użytkownika</h3>
            <br>
        </div>
    </div>
</div>


<div class="container-fluid padding">
    <hr>
</div>

<div class="container-fluid padding">
    <!-- FORMULARZ -->
    <form th:action="@{/admin/user/edited/password/{id}(id = ${userPassEdited.userId})}" th:object="${userPassEdited}" method="POST" id="form_primary">

        <div class="row justify-content-center">
            <div class="col-xs-6 col-md-4 col-lg-5">
                <!-- PASSWORD -->
                <div class="form-group">
                    <label for="password">Nowe hasło:</label>
                    <input type="text" class="form-control" placeholder="Hasło" id="password" th:field="${userPassEdited.password}">
                    <span th:if="${#fields.hasErrors('password')}"
                          th:errors="${userPassEdited.password}"></span>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">

            <div class="btn-group" role="group" aria-label="Basic example">

                <div class="col-xs-4 col-sm-4 col-lg-6">
                    <div class="form-group" style="padding-top: 1.99rem;">
                        <a th:href="@{/admin/user/details/{id}(id = ${userPassEdited.userId})}" class="btn btn-outline-warning">
                            <span>Anuluj</span>
                        </a>
                    </div>
                </div>

                <div class="col-xs-3 col-md-3 col-lg-6">
                    <div class="form-group" style="padding-top: 1.99rem;">
                        <input type="submit" value="Zapisz" class="btn btn-outline-primary">
                    </div>
                </div>
            </div>

        </div>

    </form>
</div>
</body>
</html>